body{
  
}

header{
  
  background-image: url(img/pattern.png);
  background-color: #4EA0FF;
  background-repeat: repeat;
  width: 100%;
}
header div{
  padding-top: 5%;
  padding-left: 5%;
}
main{
  width: 75%;
  margin: auto;
} 
h1{
  font-weight: bold;
  font-size: 3em;
  text-align: justify;
  margin-bottom:0;
}
.sottotitolo{
  color: #989898;
}
#autore{
  color:#3EB5E8;
}
.info{
  font-size:0.8em;
}
.evidenziatore{
  background-color: yellow;
}
